@media(min-width: 360px){
  .avatar_content {
    position: fixed;
    padding: 80px 0;
    @apply w-full;
  }

  .product_ul {
    width: 100%;
    padding: 10px 0 40px;
    @apply w-full flex justify-center text-3xl font-bold box-border;
  }
  
  .product_ul > li {
    width: 120px;
    color: rgb(131, 94, 15);
    @apply flex justify-center items-center mx-3 px-2 py-2;
  }

  .avatar_list {
    width: 150px;
    /* height: 185px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    margin: 0 7px;
    padding-bottom: 25px;
  }
}