.avatar_wrap {
  width: 150px;
}

/* 아바타 이미지 및 사진 가격 */
.avatar_img {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position:relative;
  border: 3px solid rgb(74, 236, 109);
  background: rgb(61, 198, 89);
  box-sizing: border-box;
  @apply rounded-md flex justify-center items-end mb-2;
}

.avatar_img .avatar_bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.avatar_img > span {
  position: absolute;
  @apply text-white font-bold text-sm;
}


/* 아바타 수정 삭제 버튼 */
.avatar_btn {
  width: 100px;
  float: none;
  @apply flex justify-center;
}

.avatar_btn span{
  float: none;
  background: #ddbe24;
  font-weight: 700;
  font-size: 18px;
  padding: 0 5px;
  @apply block text-amber-200 ml-2 rounded-md cursor-pointer;
}

/* 수정 삭제 팝업창 */


/* 아바타 등록 추가버튼 */
.add_btn {
  position: relative;
  right: 0;
  bottom: 0;
}