.avatar_frm {
  width: 300px;
  height: 500px;
  /* background-color: white; */
  background-color: #F7F5F5;
  border-radius: 5px;
  border: 1px solid rgb(8, 94, 8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.frm_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 460px;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar_modify {
  @apply w-full h-full
}


/* 아바타 이미지 올리는 곳 */

.frm_wrap>.avatar_img {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
  @apply rounded-xl overflow-hidden rounded-xl;
}

.avatar_img>label {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999999px;
  position: relative;
}


.avatar_img .avatar_upload {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.avatar_img>label::after {
  content: "";
  display: block;
  width: 10px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: gray; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar_img>label::before {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  /* background-color: gray; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.avatar_img>input {
  display: none;
}


/* input area */
.avatar_info>div {
  display: flex;
  justify-content: center;
  align-items: center;
  @apply mb-3
}

.avatar_info label {
  @apply font-semibold text-lg mr-2
}

.avatar_info input {
  @apply rounded-sm px-1 py-1;
  border: 1px solid gray;
}

/* 아바타를 등록하시겠습니까? 태그 */

.avatar_info>p {
  text-align: center;
  @apply text-lg my-3 font-semibold;
}

/* btn_area */
.btn_area {
  @apply mt-5
}

.btn_area>.btn {
  @apply text-white font-bold mx-3 cursor-pointer rounded-md bg-green-900;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 36px;
}