@media (min-width: 360px){
  .user_avatar_wrap {
    position: fixed;
    top: 80px;
    height: 640px;
    @apply w-full;
  }

  /* 상단 카테고리 */
  .category {
    @apply h-20 flex justify-center items-center py-4;
  }

  .category li {
    width: 120px;
    @apply flex justify-center items-center font-semibold text-2xl bg-yellow-400 py-2 rounded-lg mx-3;
  }

  /* 현재 착용중 아바타 */
  .now_avatar {
    width: 100%;
    height: 210px;
    border-bottom: 3px solid #efefef;
    box-sizing: border-box;
    @apply flex justify-center items-center;
  }

  /* 유저가 아바타를 살 수 있는 공간 및 착용하는 곳 */
  .avatar_collection {
    height:350px;
    @apply w-full flex justify-center;
  }

  .avatar_collection li {
    position: relative;
    width: 130px;
    height: 130px;
    background: purple;
    margin: 10px;
    color: white;
    border-radius: 10px;
  }

  /* 구입전에 비활성화할 배경 */
  li > .inactive_avatar {
    position: absolute;
    left:0;
    top:0;
    width: 130px;
    height: 130px;
    background: rgba(255,255,255,0.5);
    color: white;
    border-radius: 10px;
  }
}