@media (min-width: 360px) {
  .user_avatar_wrap {
    position: fixed;
    top: 80px;
    /* height: 640px; */
    /* @apply w-full;*/
  }

  /* 상단 카테고리 */
  .product_ul {
    @apply mt-8 flex gap-14 content-center justify-center text-2xl font-extrabold;
  }

  .product_ul>li:nth-child(1) {
    border-bottom: 2px solid black;
  }

  /* 현재 착용중 아바타 */
  .now_avatar {
    width: 100%;
    border-bottom: 3px solid #efefef;
    box-sizing: border-box;
    @apply flex justify-center items-center;
  }



  /* 유저가 아바타를 살 수 있는 공간 및 착용하는 곳 */
  .avatar_collection {
    height: 350px;
    @apply w-full flex justify-center;
  }

  .avatar_collection li {
    width: 100px;
    height: 100px;
    background: purple;
    border: 1px solid #ccc;
    margin: 10px;
    color: white;
    border-radius: 10px;
  }

  /* 구입전에 비활성화할 배경 */
  /* li > .inactive_avatar {
    position: absolute;
    left:0;
    top:0;
    width: 130px;
    height: 130px;
    background: rgba(255,255,255,0.5);
    color: white;
    border-radius: 10px;
  } */
}