@media(min-width:360px) {
  .sign_in {
    @apply flex flex-col gap-5 text-center items-center mt-28;
  }

  .sign_in>span {
    @apply text-2xl font-extrabold mb-8;
  }

  .sign_in input {
    @apply w-80 p-2 rounded-sm text-sm;
    border: 1px solid gray;
  }

  .sign_in>button {
    @apply w-80 h-12 bg-orange-400 rounded-sm font-medium;
  }

  .sign_in>button:last-child {
    /* @apply mt-4; */
    background-color: rgb(178, 178, 167);
  }

  /* 이메일찾기, 비밀번호 찾기, 회원가입 Box */
  .findBox {
    @apply flex gap-3;
  }

  .findBox>a:nth-child(2)::after {
    content: "|";
    margin-left: 6px;
  }

  .findBox>a:nth-child(2)::before {
    content: "|";
    margin-right: 6px;
  }
}