@media(min-width:360px) {
  .sign_in {
    @apply flex flex-col gap-5 text-center items-center mt-48;
  }

  .sign_in>span {
    @apply text-2xl font-extrabold mb-8;
  }

  .sign_in input {
    @apply w-80 p-2 rounded-sm text-sm;
    border: 1px solid gray;
  }

  .sign_in>button {
    @apply w-80 h-12 rounded-full font-medium font-bold;
    background-color: #5DB075;
  }

  .sign_in>button:last-child {
    /* @apply mt-4; */
    background-color: #f9e000;
  }

  /* 이메일찾기, 비밀번호 찾기, 회원가입 Box */
  .findBox {
    @apply flex gap-3;
  }

  .findBox>a:nth-child(2)::after {
    content: "|";
    margin-left: 6px;
  }

  .findBox>a:nth-child(2)::before {
    content: "|";
    margin-right: 6px;
  }

  .error {
    @apply flex text-xs text-red-500 mt-1 text-left;
  }
}