@media (min-width:360px) {
  .storge_box {
    @apply flex flex-col gap-5 text-center items-center pt-8 pb-24;
  }

  .img_box {
    @apply relative grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .customImage {
    object-fit: cover;
    width: 153px;
    max-width: 200px;
    height: 200px;
    border-radius: 8px;
    filter: grayscale(100%);
  }
}